@{    
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<OnlineStore.Models.ShoppingCart>
@{ 
   var list = ViewBag.Products as IEnumerable<OnlineStore.Models.Product>;
}

<h2>Your Shopping Cart</h2>

@foreach (var listItem in Model) {
    <div class="col-sm-4">
        <div class="card">
                <img src="@Html.DisplayFor(modelProduct => listItem.Product.Image)" alt="Clothing" style="width:100%">
                <div class="card-block">
            <a href="@Url.Action("Details", "Products", new { id = listItem.ProductId })">
                    <h3 class="card-title text-center">@Html.DisplayFor(modelItem => listItem.Product.Name)</h3>
            </a>
            <h3 class="card-text text-center">$@Html.DisplayFor(modelItem => listItem.Product.Price)</h3>
            <h3 class="text-center">Quantity: @Html.DisplayFor(modelItem => listItem.ProductCount)</h3>
            <h3 class="text-center">Time Ordered: @Html.DisplayFor(modelItem => listItem.Today)</h3>
        </div>
            
        </div>
    </div>
}